html{
  height:100%;
  width: 100%;
}
body{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  border:0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 15px;
  background: #eee4b9;
}
img{
  border:none;
}
table, tr, td{
  border-collapse: collapse;
  vertical-align: top;
  text-align: left;
  font: 13px/15px Verdana, Arial, Helvetica, sans-serif;
}
a{
  color:#8d0d19;
}
a:hover{
  color:#1a446c;
}
hr {
    margin-top: 20px;
    border: 1px solid #777;
}
bold{
  font-weight: bold;
}
#header{
  height:70px;
  margin:0;
  padding:0;
  text-align: left;
  background: #1a446c;
  color:#d4e6f4;
}
#header h1{
  padding:1em;
  margin:0;
}
#main{
  min-height:600px;
  width: 100%;
  margin:0;
  padding: 2em;
  background: #eee4b9;
}
#pagination .selected{
  font-weight: bold;
  color: #8d0d19;
}
#footer{
  clear:both;
  height: 2em;
  margin: 0;
  padding: 1em;
  text-align: center;
  background: #1a446c;
  color:#d4e6f4;
}
#navigation{
  float: left;
  width:150px;
  height: 100%;
  margin: 0;
  padding: 0 2em;
  color:#d4e6f4;
  background: #8d0d19;
}
#navigation a{
  color: #d4e6f4;
  text-decoration: none;
}
#navigation a:hover{
  color:#fff;
}
ul.subjects{
  margin:1em 0;
  padding-left: 0;
  list-style: none;
}
ul.pages{
  padding-left: 2em;
  list-style: square;
  font-weight: normal;
}
.selected{
  font-weight: bold;
}
#page{
  float: left;
  height: 100%;
  padding-left: 2em;
  vertical-align: top;
  background: #eee4b9;
  width: 50%;
}
#page h2{
  color: #8d0d19;
  margin-top: 1em;
}
#page h3{
  color: #8d0d19;
}
.view-content{
  margin:1em; padding: 1em; border:1px solid #999;
}
.message, , body div#main p.message{
  display: block;
  border: 2px solid #8D0D19;
  color: #8D0D19;
  font-weight: bold;
  margin: 1em 5em 0 0;
  padding: 1em;
  width: 70%;
}

/*errors*/
.error{
  color: #8D0D19; border: 2px solid #8D0D19;
  margin: 1em 5em 0 0; padding: 1em;
}
.error ul{
  padding-left: 2em;
}

/*admin area*/
.admin-block {
    float: left;
    margin-right: 50px;
    margin-bottom:20px;
}
#newAdminLink{
  float: left;
  clear:both;
}
.bordered td{
  border: 1px solid;
  border-collapse: collapse;
}